.navbar {
    background-color: #1976d2;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.nav-item {
    margin-right: 20px;
}
.navbar-nav {
    margin-right: 456px;
}
.navbar-brand{
    margin-left: 50px;
}

.footer {
    background-color: #1976d2;
}

