    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        background-color: #f4f4f4;
    }

    .contenedor {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .fila-formulario {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .grupo-formulario {
        flex: 1;
        min-width: 200px;
        margin-right: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    .error {
        color: red;
        font-size: 0.9em;
    }

    #tarjetaCargos {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        margin-top: 20px;
    }

    .deshabilitado {
        opacity: 0.5;
        pointer-events: none;
    }

    th {
        background-color: #00a3d1;
        color: white;
    }
    
    #botonInscripcion{
        background-color: #1976d2;
    }

    .contenedor {
        margin-top: 30px;
        margin-bottom: 30px;
    }